* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;    
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
    display: flex;
    flex: 1;
}

.container {
    display: flex;
    flex: 1;
}

.landing-container {
    flex: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mockup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.03);
}

.account-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form {
    width: 300px;
    min-height: 300px;
    flex-direction: column;
    display: flex;
    padding: 2em;
}

.input-label {
    font-size: 20px;
    padding-left: 15px;
    font-weight: 600;
}

.input-field {
    margin: 1em 0;
    padding: 0.6em;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding-left: 25px;
    font-weight: 500;

    &:nth-child(2) {
        font-weight: 600;
    }

    &:nth-child(5) {
        font-weight: 600;
    }
}

.button {
    background-color: #4834d4;
    color: #FFFFFF;
    padding: 1em 0.5em;
    font-size: 18px;
    letter-spacing: 0.1em;
    border: 0;
    outline: none;
    transition: 200ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: lighten(#4834d4, 10%);
    }
    
    &.disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}

.ab-container{
    width: 200px;
    height: 100px;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;

    p {
        font-weight: 600;
    }
}

.wallet {
    flex-direction: column;
    flex: 1;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;

    .usd{
        flex: 1;
        flex-direction: row;
        display: flex;
        margin: 0.1em;
        width: 30px;

        p{
            font-weight: 600;
            margin-left: 20px;
        }

        span{
            font-weight: 600;
            padding-left: 20px;
        }
    }

    .btc{
        flex: 1;
        flex-direction: row;
        display: flex;
        margin: 0.1em;
        width: 30px;

        p{
            font-weight: 600;
            margin-left: 20px;
            letter-spacing: 2px;
        }

        span{
            font-weight: 600;
            padding-left: 20px;
        }
    }
}

